# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some takeaways from this Lab
1. Working with Jupyter Notebook
2. How to create cells - either as code or markdown
3. Share the notebook in GitHub

Some of the popular languages that Data Scientists use are:
1. Python (most popular)
2. R
3. JAVA

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. scikit-learn
4. and many more

| Data Science Tools |
| :- |
| Jupyter notebook |
| RStudio |
| GitHub |

### Below are a few examples of evaluating arithmetic expressions in Python.

This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60.

In [6]:
minutes = 200
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours:.2f} hours.")

200 minutes is equal to 3.33 hours.

##Author: Pawel Waleka